## ***General Idea:*** Air Quality Prediction

https://archive.ics.uci.edu/ml/datasets/Air+Quality#

Authored By: Amit Kumar
Email: Amitkumar8636@gmail.com

***Problem Statment*** : Contains the responses of a gas multisensor device deployed on the field in an Italian city. Hourly responses averages are recorded along with gas concentrations references from a certified analyzer.

# Proceedure:
<!-- #### <a id='# Data_Expolaration'> Data Expolaration</a> -->

#### [Data Expolaration](#Data_Expolaration)

    0.1 Overall Data Expolaration
    0.2 Data Seperation Based on Types

#### 1. Data Cleaning 
    1.1 Outlier Detection and Capping
    1.2 Missing Value Treatment
    1.3 Correlation Analysis

#### 2. Feature Engineering
    2.1 GeneratingNew Feature
    2.2 Zero Variance Check
    2.3 Univariate Analysis
    2.4 Bi Variate Analysi
    2.5 Feature Selection

#### 3. Model Building
    3.1 Random Forest Classifier
    3.2 DecisionTree Classifier
    3.3 Logistic Regression
    3.4 GradientBoosing Classifier (Bagging)
    3.5 XG Boost Classifier
    3.6 Stacking Classifier

#### 4. Evaluation
    4.1 Metric Evaluation (Accuracy, Precision, Recall, F1-score, ROC Curve) 
    4.2 Model Comparison
  

*******************************************************************

# Data Expolaration

## Overall Data Expoloration

In [3]:
 # Importing Required Libararies
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(rc = {'figure.figsize':(15,8)})

# %matplotlib inline
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')  #Suppressing Warnings

import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'

In [4]:
# Setting the pandas to view all the avialble column
pd.set_option('display.max_columns',None)

In [9]:
# Reading the data 
# data = pd.read_csv("AirQualityUCI.csv",sep=';')
data = pd.read_excel("AirQualityUCI.xlsx")
data.head(2)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.6,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.3,47.700000,0.725487

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 1.1+ MB